<div ng-controller = "updateProductController as updatePrdCtlr">
  <form class="form-horizontal" ng-submit="updatePrdCtlr.submitUserDetails()">
    <div class="form-group" style="margin-top: 15px;">
      <label for="id" class="col-sm-2 control-label">Product Id</label>
      <div class="col-sm-10">
          <input type="text" class="form-control" id="id" placeholder="Product Id" ng-model="updatePrdCtlr.student.id" required>
      </div>
    </div>

    <div class="form-group">
      <label for="name" class="col-sm-2 control-label">Product Name </label>
      <div class="col-sm-10">
          <input type="text" class="form-control" id="name" placeholder="Product Name" ng-model="updatePrdCtlr.student.name" required>
      </div>
    </div>

    <div class="form-group">
      <label for="price" class="col-sm-2 control-label">Price </label>
      <div class="col-sm-10">
          <input type="text" class="form-control" id="price" placeholder="Price" ng-model="updatePrdCtlr.student.price" required>
      </div>
    </div>

    <div class="form-group">
      <label for="file" class="col-sm-2 control-label">Upload File</label>
      <div class="col-sm-10">
          <input type="file" id="file" ng-model="updatePrdCtlr.student.file"required>
      </div>
    </div>

    <div class="form-group">
      <label for="stock" class="col-sm-2 control-label">Availability</label>
      <div class="col-sm-10" >
          <input type="radio" id="Available" ng-checked="true" ng-model="updatePrdCtlr.student.stock" value="Available"><span class="myRadioOption" >Available</span>
          <input type="radio" id="OutofStock" ng-model="updatePrdCtlr.student.stock" value="Out of Stock"><span class="myRadioOption">Out of Stock</span>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>

  </form>
<div>
